<div id="content" class="col-lg-10 offset-lg-1">

  <header id="header">
    <h1 style="margin-left: 20px;">
      {{title}}
    </h1>
  </header>

  <nav id="nav">
    <ul>
      <li><a [routerLink]="['/home']">Home</a></li>
      <li><a [routerLink]="['/productos']">Productos</a></li>
      <li><a [routerLink]="['/crearProducto']">Crear producto</a></li>
    </ul>
  </nav>

  <br>
  <br>

  <section id="main" style="margin-left: 20px;">
    <!-- Componente actual -->
   <router-outlet></router-outlet>
  </section>

  <footer id="footer" style="margin-left: 20px;">
    <p>Curso de angular 4</p>
  </footer>

</div>