<h3>{{titulo}}</h3>

<hr>

<div *ngIf="!productos">
    Cargando lista de productos...
</div>
<div *ngIf="productos">
    <div class="row justify-content-center">
        <div class="col-lg-3" *ngFor="let producto of productos">
            <div>
                <div *ngIf="producto.imagen" class="imagen-container">
                    <img src="http://localhost/curso-angular4-backend/uploads/{{producto.imagen}}"
                        class="producto_imagen" style="width: 100%;">
                </div>
                <div *ngIf="!producto.imagen" class="imagen-container">
                    <div class="imagen_relleno"></div>
                </div>
                <div>
                    <h3>{{producto.nombre}}</h3>
                    <p>{{producto.precio}}€</p>
                    <div class="d-flex justify-content-center" *ngIf="confirmado != producto.id">
                        <a [routerLink]="['/producto', producto.id]" class="btn btn-secondary me-2">Ver</a>
                        <a [routerLink]="['/editar-producto', producto.id]" class="btn btn-secondary me-2">Editar</a>
                        <a class="btn btn-danger" (click)="borrarConfirm(producto.id)">Borrar</a>
                    </div>
                    <div class="seguro" *ngIf="confirmado == producto.id">
                        <p>¿Estas seguro?</p>
                        <a class="btn btn-danger me-2" (click)="onDeleteProducto(producto.id)">Eliminar</a>
                        <a class="btn btn-secondary me-2" (click)="cancelarConfirm()">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>